* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section {
  padding: 120px 0;
}

.section p {
  font-size: 16px;
}

/* =========================================
   ACCESSIBILITY
========================================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========================================
   LAYOUT
========================================= */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* =========================================
   HEADER
========================================= */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 40px;
}

header a {
  text-decoration: none;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header a:hover,
header a:focus {
  color: #404bbf;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 25.5px 0;
}

.accent {
  color: #2e2f42;
}

.studio {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
}

.studio-hero {
  position: relative;
  color: #404bbf;
}

.studio-hero::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  left: 0;
}

.address {
  font-style: normal;
}

.mail {
  font-size: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========================================
   HERO SECTION
========================================= */

.section:first-child {
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg") center/cover no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

.section h1 {
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.section .button {
  display: block;
  margin: 48px auto 0;
  padding: 16px 32px;
  min-width: 169px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section .button:hover,
.section .button:focus {
  background-color: #404bbf;
}

/* =========================================
   FEATURES SECTION
========================================= */

.section ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.main-second-section-li {
  width: calc((100% - 72px) / 4);
}

.icon-bacground {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-second-section-h3 {
  margin-bottom: 8px;
  text-align: left;
}

.main-second-section-p {
  text-align: left;
}

.section:nth-child(odd):not(:first-child) {
  background-color: #f4f4fd;
}

/* =========================================
   TEAM SECTION
========================================= */

.team {
  margin-bottom: 72px;
}

.main-third-section-li {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  text-align: center;
}

.main-third-section-li-div {
  padding: 32px 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-link {
  width: 40px;
  height: 40px;
}

.icon-link-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-a:hover,
.icon-link-a:focus {
  background-color: #404bbf;
}

.icon-link-a svg {
  fill: #f4f4fd;
}

/* =========================================
   PORTFOLIO SECTION
========================================= */

.portfolio {
  margin-bottom: 72px;
}

.main-fourth-section-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.main-fourth-section-ul {
  display: flex;
  row-gap: 48px;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
}

.main-fourth-section-li:hover .overlay-content {
  transform: translateY(0);
}

.main-fourth-section-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-fourth-section-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-fourth-section-h3 {
  margin-bottom: 8px;
}

/* =========================================
   FOOTER
========================================= */

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: flex-start;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-hero {
  margin-right: 120px;
}

footer .logo {
  color: #4d5ae5;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 16px;
  margin-right: 0;
  padding: 0;
}

.accent-footer {
  color: #f4f4fd;
}

.footer-icon-social-link-paragraf {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

footer p {
  color: currentColor;
  width: 264px;
  margin: 0;
}

.footer-icon-social-link {
  display: flex;
  flex-direction: column;
}

.footer svg {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer .social-links {
  justify-content: flex-start;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.footer .icon-link-a:hover,
.footer .icon-link-a:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-container-p {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}

.email-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 2;
}

.email-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-btn-svg {
  margin-left: 16px;
}

/* =========================================
   MODAL
========================================= */

.modal-overlay {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-svg,
.modal-close-btn:focus .modal-close-btn-svg {
  fill: #fff;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-caption {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #2e2f42;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#icon-Vector {
  width: 12px;
  height: 12px;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-checkbox-span {
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-checkbox-label .modal-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.privacy-link {
  color: #4d5ae5;
}

.modal-send-btn {
  min-width: 169px;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}
